body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px 0px #0000001a;
  padding: 105px 90px;
}

/* About */

.about {
  margin-bottom: 40px;
}

.about-position {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}

.about-name {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 25px;
}

.about-description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #595959;
  width: 400px;
}

.title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}

.projects {
  margin-bottom: 50px;
}

.project-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.project-list {
  padding: 0px;
  margin-left: 15px;
}

.project,
ol a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #595959;
}

ol a {
  margin-left: 10px;
}

.prolect-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.work {
  margin-bottom: 40px;
}

.work-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.vertical-bar {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.lists {
  padding: 0px;
  margin-left: 15px;
  width: 510px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 20px;
}

.lists li {
  margin-left: 10px;
}

.speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.tech-skills {
  margin-bottom: 45px;
}

.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.conacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contacts p {
  margin: 0px;
}

.contact-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.skills-list {
  color: #ffffff;
  padding: 0;
}

.skills-list li {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
}

.skills-list li::before {
  color: #fb6d3a;
  content: '•';
  padding-right: 10px;
}
